* {
  box-sizing: border-box;
}

body {
  background: #aaa;
  padding: 4px;
}

.app {
  background: #fff;
  width: 1920px;
  height: 1080px;
  margin: auto;
  padding: 16px;
  display: grid;
  grid-template-columns: 500px 1fr;
  column-gap: 16px;
}

.block {
  border: 1px solid #aaa;
}

.block.scatters {
  
}

.block.table {

}